body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: linear-gradient(to right, #1f4037, #99f2c8);
}

header h1 {
    font-size: 3rem;
}

footer {
    background-color: #343a40;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
